{% extends 'base.html.twig' %}

{% block title %}Desserts{% endblock %}

{% block body %}
<div class="page desserts">
    <h1>Desserts</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dessert.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ dessert.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ dessert.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ dessert.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_desserts_index') }}" class="btn btn-primary">retour à la liste</a>

    <a href="{{ path('app_desserts_edit', {'id': dessert.id}) }}" class="btn btn-warning">Modifier</a>

    {{ include('desserts/_delete_form.html.twig') }}
</div>
{% endblock %}
